<div class="container">
    <div class="row">
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm-10 meio">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam eum ut voluptates minus odio ducimus accusamus dicta magni ab ex dolor, dolorem ipsa maiores alias vel suscipit, in, nemo maxime!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore error eveniet placeat nobis laboriosam aliquam voluptatibus natus illo repellendus accusamus laborum asperiores hic explicabo sint labore harum perspiciatis, libero deleniti!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quod provident, molestiae mollitia perferendis eos rem ratione, iste dignissimos incidunt velit veritatis dolor sapiente pariatur nam fuga. Quibusdam, dolor inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sed esse aspernatur laborum atque deleniti quo? Perspiciatis, sed. Quaerat, earum distinctio nihil laborum aliquam nemo ratione minus amet illum soluta.</p>
      </div>
      <div class="col-sm-1">
        
      </div>
    </div>
</div>
