<div style="width: 100%">
    <div class="spinner-grow text-primary" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status" style="width: 100%">
        <span class="sr-only">Loading...</span>
    </div>
</div>