div{
    background-image: url("https://madeiranit.ciaimg.com.br/Assets/Produtos/SuperZoom/deck-61x61-modular.jpg?v=90404453-1");
    width: 100%; 
    background-size: 100%;
    text-align: center;
    color: antiquewhite;
}